/* 

Royal purple #9200FF
White #FFFFFF
Royal purple #3D0369
Dark indigo #0F0632
Almost black #08080B

*/


/*#region*/

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*#endregion*/


/* Base Styles */

html {
    font-family: "Iceberg", Montserrat;
    font-size: 125%;
    color: #fff;
    background-color: #0f0632;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


/* NAV */

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

nav a {
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}


/* HEADER */

header {
    background-image: url("./thunder-force-stadium/assets/image-1.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    font-size: 4rem;
    line-height: 4rem;
}

.headerBtn {
    background-color: #9200ff;
    border: 1px solid grey;
    padding: 15px;
    color: white;
    border-radius: 0px;
    /*   border: 2px solid red; */
    width: 35%;
    font-size: 1.75rem;
    line-height: 1.45rem;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Gallery */

.readMore {
    background-color: #9200ff;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border: none;
}

.columns-image img {
    width: 800px;
    height: 600px;
}

.columns-imageTWO {
    width: 800px;
    height: 600px;
    order: 2;
}

.section-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.section-container .columns {
    flex: 0 0 auto;
    width: 43%;
}

.section-container .columns.content .content-container {
    padding: 70px;
}

.section-container .columns.content .content-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section-container .columns.content .content-container p {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.45rem;
    width: 80%;
    font-family: "Montserrat";
}


/* Ticket Info */

.ticketInfo {
    background-color: #08080B;
    padding-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.image {
    margin-right: 30px;
}

.image img {
    width: 900px;
    height: 250px;
}

.text h2 {
    text-transform: uppercase;
    font-size: 2.6rem;
}

.text p {
    line-height: 1.45rem;
}


/* footer */

footer {
    background-color: #9200ff;
    padding-bottom: 20px;
}

.footer-class h2,
h3 {
    text-transform: uppercase;
    font-size: 1.75rem;
}

.footerNav {
    padding-top: 20px;
}

.footer-class {
    margin-left: 10%;
}

.footerBorder {
    text-align: center;
}

form {
    width: 100%;
    display: flex;
}

.footerForm input {
    width: 100%;
    border: 2px solid red;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

.footerForm button {
    width: 100%;
    background-color: #3d0369;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
}